body{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    background-image: url('images/rr.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    color: white;
    max-height: 100vh;
    overflow-y: scroll;
    /*font-size: calc(0.75em + 1vmin);*/
    font-size: calc(14px + 0.390625vw);
    font-family: 'Montserrat', sans-serif
}


.headline {
    padding: 2% 0%;
    margin:0 1% 0% 1% ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
    text-align: center;
    font-size: 3rem;
}

.enter-data{
    padding: 3% 10%;
}
.form-btn{
    text-align: center;
    padding: 5% 5% 2% 5%;
}

.form-btn .btn{
    padding: 1% 3%;
    font-family: 'Karla', sans-serif;
}
.total-section{
    text-align: center;
}

.filter{
    padding: 3% 10%;
}
.filter .row .fill{
    margin: 0 auto;
}
#filter-form .fill .btn{
    padding: 4% 12%;
    font-family: 'Karla', sans-serif;
}

.results {
    padding: 5% 10%;
}
.results td,th{
    color: white;
}

#updatebtn{
    padding:7px 15px;
    margin:4px 6px;
    cursor: pointer;
    border:none;
    background-color: green;
    border-radius: 15px;
    color: white;
    font-size: calc(10px + 0.390625vw);
}

#deletebtn{
    padding:7px 15px;
    margin:4px 6px;
    cursor: pointer;
    border:none;
    background-color: red;
    border-radius: 15px;
    color: white;
    font-size: calc(10px + 0.390625vw);
}

